<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_culture_tool_a">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECulture_Tool_A"
        tools:targetApi="31">
        <activity
            android:name=".UpdateVisitaActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateEdgeActivity"
            android:exported="false" />
        <activity
            android:name=".SelectEdgeActivity"
            android:exported="false" />
        <activity
            android:name=".RecapVisitaActivity"
            android:exported="false" />
        <activity
            android:name=".SelectZoneActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateOggettiActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateZonaActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateLuogoActivity"
            android:exported="false" />
        <activity
            android:name=".NewVisitaActivity"
            android:exported="false" />
        <activity
            android:name=".NewOggettoActivity"
            android:exported="false" />
        <activity
            android:name=".NewZoneActivity"
            android:exported="false" />
        <activity
            android:name=".NewLuogoActivity"
            android:exported="false" />
        <activity
            android:name=".NewVisiteActivity"
            android:exported="false" />
        <activity
            android:name=".MyVisiteActivity"
            android:exported="false" />
        <activity
            android:name=".MyZoneActivity"
            android:exported="false" />
        <activity
            android:name=".MyOggettiActivity"
            android:exported="false" />
        <activity
            android:name=".MyLuoghiActivity"
            android:exported="false" />
        <activity
            android:name=".HomeVisitatoreActivity"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".HomeCuratoreActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>